@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font rules

font-family: 'Bebas Neue', sans-serif;
font-family: 'Roboto', sans-serif;

font rules */

:root {
    --bg: #101211;
    --text: white;
    --link-inactive: #aaaaaa;
    --link-active: white;
    --glow-color: #76FF6A;
    --text-glow: 0 0 2px var(--glow-color);
    --text-glow-strong: 0 0 4px var(--glow-color);
    --button-glow: 0 0 4px var(--glow-color), inset 0 0 4px var(--glow-color);
    --button-glow-strong: 0 0 6px var(--glow-color),inset 0 0 6px var(--glow-color);
    --cover-dark: rgba(16, 18, 17, 0.85);
    --cover-medium: rgba(16, 18, 17, 0.6);
    --cover-highlight: rgba(30, 46, 38, 0.65);
    --blur: blur(5px);
    --svg: invert(100%) sepia(11%) saturate(0%) hue-rotate(66deg) brightness(103%) contrast(102%);
    --step--5: clamp(0.4019rem, 0.4005rem + 0.0074vw, 0.4094rem);
    --step--4: clamp(0.4825rem, 0.4771rem + 0.029vw, 0.5119rem);
    --step--3: clamp(0.5788rem, 0.5674rem + 0.0605vw, 0.64rem);
    --step--2: clamp(0.6944rem, 0.6748rem + 0.1043vw, 0.8rem);
    --step--1: clamp(0.8331rem, 0.8022rem + 0.1648vw, 1rem);
    --step-0: clamp(1rem, 0.9537rem + 0.2469vw, 1.25rem);
    --step-1: clamp(1.2rem, 1.1329rem + 0.358vw, 1.5625rem);
    --step-2: clamp(1.44rem, 1.345rem + 0.5068vw, 1.9531rem);
    --step-3: clamp(1.7281rem, 1.5961rem + 0.7043vw, 2.4413rem);
    --step-4: clamp(2.0738rem, 1.8926rem + 0.966vw, 3.0519rem);
    --step-5: clamp(2.4881rem, 2.2424rem + 1.3105vw, 3.815rem);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: var(--text);
}

body {
    background: var(--bg);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

p, a {
    font-size: var(--step--1);
}

button {
    transition: .1s;
    border: 1px solid white;
    background: none;
    color: white;
    text-decoration: underline;
    text-shadow: var(--text-glow);
    box-shadow: var(--button-glow);
    font-family: 'Bebas Neue', sans-serif;
    align-self: center;
    font-size: var(--step-4);
    padding: 0.2rem 2rem;
}

button:hover {
    text-shadow: var(--text-glow-strong);
    box-shadow: var(--button-glow-strong);
}

.cover-dark {
    background: var(--cover-dark);
    backdrop-filter: var(--blur);
}

.cover-medium {
    background: var(--cover-medium);
    backdrop-filter: var(--blur);
}

.cover-highlight {
    transition: .1s;
    background: var(--cover-highlight);
    backdrop-filter: var(--blur);
    opacity: 0;
}

.cover-highlight:hover {
    opacity: 1;
}

.highlight {
    text-shadow: var(--text-glow-strong);
    text-decoration: underline;
}

.link-active {
    color: var(--link-active);
}

.filter {
    filter: var(--svg);
}

.bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.bold {
    font-weight: 800;
}
